node_modules/
dist/
*.tsbuildinfo
.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Playwright
playwright/.cache/
test-results/
packages/caml-react/playwright/.cache/
